<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Track Heart Points</ion-title>
    <ion-icon slot="end" name="build-sharp" (click)="modifyPoints()"></ion-icon>
  </ion-toolbar>
</ion-header>
<div class="topContent">
  <ion-icon src="./assets/icon/heart-sharp.svg" class="heartImage centered" color="danger"></ion-icon>
  <div class="pointsText">{{ points?.value ? points?.value: 0 | number: '1.0-1'}}</div>
</div>
<h3>Tasks Completed</h3>
<ion-content>

  <div class="bottomContent">
    <ion-item-sliding
      *ngFor="let task of taskList, let i = index"
       lines="none"
      #slidingItem
    >
    <ion-item>
        <div class="dataHolder">
          <div class="left">
            <h5>{{task.message}}</h5>
            <p>{{task.date.toDate() | date: 'MMM d, h:mm a'}}</p>
          </div>
          <div class="right">
            <div class="points">+{{task.points}}</div>
          </div>
        </div>
    </ion-item>

    <ion-item-options side="end" (ionSwipe)="deleteTask(task,slidingItem)">
      <ion-item-option lines="none" (click)="deleteTask(task,slidingItem)" expandable>
        <ion-icon name="trash-sharp"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    </ion-item-sliding>
  </div>
  <ion-fab
  class="rightBtn"
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  >
    <ion-fab-button (click)="addNewTaskUpdate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
