<ion-tabs>  
    <ion-tab-bar slot="bottom" #bottombar>
      <ion-tab-button tab="tracker" root="applications">
        <ion-icon src="./assets/icon/heart-sharp.svg"></ion-icon>
        <ion-label>Tracker</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="redeem">
        <ion-icon src="./assets/icon/gift-sharp.svg"></ion-icon>
        <ion-label>Redeem</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="log">
        <ion-icon src="./assets/icon/file-tray-full-sharp.svg"></ion-icon>
        <ion-label>Logs</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>